.container-contact {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 28rem;
  grid-template-areas: "stack";
  overflow-x: hidden;
}

.contact__info {
  background-color: #fefbf4;
  padding: 30px;
  border-radius: 20px;
  height: 450px;
  margin-right: -50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.contact__content {
  grid-area: stack;
  background-color: var(--section-bg);
  border-radius: 20px;
  padding: 50px;
  height: 540px;
}

.info-icons svg {
  color: var(--accent-color) !important;
  margin-left: 5px;
}

.text-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input,
.textarea {
  background-color: #fff;
  border-radius: 8px;
  height: 45px;
  padding: 10px 20px;
}

:where(.input, .textarea):focus {
  border: 1px solid var(--accent-color);
}

.textarea {
  height: 80px !important;
  resize: none;
}

.button {
  width: 120px !important;
}

@media screen and (max-width: 768px) {
  .contact__content {
    width: 100%;
    grid-area: stack;
    background-color: var(--section-bg);
    border-radius: 20px;
    padding: 20px;
    height: 580px;
  }

  .container-contact {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .form {
    margin-left: 0px;
    gap: 15px;
  }

  .contact__info {
    padding: 20px;
    height: 350px;
    width: 90%;
    margin-right: 0px;
    margin-top: -50px;
  }
}
