.footer {
  background-color: var(--section-bg);
  padding: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer__content {
  width: 350px;
}

.footer__social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: var(--bodyFont-color);
  cursor: pointer;
}

.footer__social-icons svg:hover {
  color: var(--main-color);
}

.footer input {
  width: 270px;
}

.footer__logo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.footer__logo img {
  max-width: 100%;
}
